/*
#dirs
!images

#files
!.gitignore
!class.*.js
!*.css
!index.php
!control_track.js
!mouse_events.js
!scripts.js
!minecraft_font_by_pwnage_block-d37t6nb.eot
!minecraft_font_by_pwnage_block-d37t6nb.svg
!minecraft_font_by_pwnage_block-d37t6nb.ttf
!minecraft_font_by_pwnage_block-d37t6nb.woff
!README.md
!script_fuel_query.php
!script_version_query.php